/* effet d'apparition des sections en fade-in */

.banner {
  animation: fade-in 2s linear normal, slide-in-top 2s linear normal;
  opacity: 1;
}

.story {
  animation: fade-in 2s linear normal, slide-in-bottom 2s linear normal;
  opacity: 1;
}

#studio {
  animation: fade-in 2s linear normal, slide-in-left 2s linear normal;
  opacity: 1;
}

.section-oscars {
  animation: fade-in 2s linear normal, slide-in-right 2s linear normal;
  opacity: 1;
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slide-in-top {
  from {
      transform: translateY(-40px);
  }
  to {
      transform: translateY(0);
  }
}

@keyframes slide-in-bottom {
  from {
      transform: translateY(40px);
  }
  to {
      transform: translateY(0);
  }
}

@keyframes slide-in-left {
  from {
      transform: translateX(-40px);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
      transform: translateX(40px);
  }
  to {
      transform: translateX(0);
  }
}



/* Ajout du titre sur la vidéo */
.banner {
  position: relative;
  overflow: hidden;
}

.banner img {
  position: absolute;
  animation: floated 2s ease infinite;
}

@keyframes floated {
  0% {
      transform: translate(3%, 3%);
  }
  50% {
      transform: translate(-2%, 3%);
  }
  75% {
      transform: translate(3%, -2%);
  }
  100% {
      transform: translate(3%, 3%);
  }
}

/* Pour desactiver la vidéo sur la version mobile */

@media screen and (max-width: 767px) {
  #fond-video {
      display: none;
    }
  }


  // Animation des titres
  .animation-title {
    opacity: 0;
    transform: translate(0, 50%);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}
.animes {
    opacity: 1;
    transform: none;
}

  .banner {
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn1 3s ease-in-out forwards;
  }
  .banner img {
    width: 680px;
    height: 480px;
    margin-top: -20%;
  }
.story {
    opacity: 0;
    animation: fadeIn1 3s ease-in-out forwards;
   h2 {
    opacity: 0;
    animation: fadeIn1 2.5s ease-in-out forwards;   
   }
}
section > .story__article {
    opacity: 0;
    animation: fadeIn1 3s ease-in-out forwards;

    &::before {
        opacity: 0;
        animation: fadeIn1 3s ease-in-out forwards;
}
> p {
    opacity: 0;
    animation: fadeIn1 3s ease-in-out forwards;
  }
}
/***** Section Le Lieu *****/
.story #place {
  background-image: url(../images/studio_place-bg.png) !important;
}

#studio {
    opacity: 0;
    animation: fadeIn1 3.5s ease-in-out forwards;
  div {
    opacity: 0;
    animation: fadeIn1 3.5s ease-in-out forwards;
  }
  &::before {
    opacity: 0;
    animation: fadeIn1 3s ease-in-out forwards;
  }
  p {
    opacity: 0;
    animation: fadeIn1 2.5s ease-in-out forwards;
  }
}

.site-footer, ul {
  opacity: 0;
    animation: fadeIn1 3s ease-in-out forwards;
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Css du scroll


@keyframes scroll-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}