/* Effet de parallaxe sur les nuages */
.story #place {
    background-image: url(./images/studio_place-bg);
}
#place {
    position: relative;
}
.big-cloud {
    position: absolute;
    top: 80px;
    right: -200px;
    filter: blur(15px);
    transform: translate3d(300px, 0, 0);
}
.little-cloud {
    position: absolute;
    top: 280px;
    right: 220px;
    filter: blur(15px);
    transform: translate3d(300px, 0, 0)
}